extends layout

block content
  h1= title
  p Welcome to #{title}
  p.
    #[a(href="http://nodered.org/" target="n-rorg") Node-red]
     is embedded as the #[a(href="/control" target="a8-control") control logic].
     The default device is a loopback digital device.
  .container-loopback
    h2 The loopback device
    for label, i in ["one", "two"]
      p(id='lb-'+ (i+1)).
        Channel #{label} is #[span.state null]. #[span.control Click here to toggle]

  script(src='https://code.jquery.com/jquery-2.1.3.js')
  script(src='/mqtt.js')
  script(src='/javascripts/index.js')
